@model CharityCalculator.UI.Models.RateVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Rate</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RateInPercentage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RateInPercentage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RateType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RateType)
        </dd>
    </dl>
</div>
<div>
    <form data-ajax="true" data-ajax-success="getPartialView" asp-action="Edit" asp-route-id="@Model.Id" method="get">
        <button type="submit" class="btn btn-link">
            Edit
        </button>
    </form> |
    <a data-ajax="true" data-ajax-success="getPartialView" asp-action="Index">Back to List</a>
</div>
